<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>splitViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF95BB121EEDC58F00CEC00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF95BB281EEDC59000CEC00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF95BB331EEDC59000CEC00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
